<div class="forum_thread_footer">
  <footer>
    <div class="footer_back_to_top_link">
      Back to the top
    </div>
    <div *ngIf="this.isAuthenticated == true" class="action_links">
      <div class="edit_reply">
        <a [routerLink]="['/thread-edit']" [queryParams]="{threadId: this.threadItemId}" skipLocationChange="true" true queryParamsHandling="merge">Edit </a>
        |
        <a [routerLink]="['/thread-reply']" [queryParams]="{threadId: this.threadItemId}" skipLocationChange="true" true queryParamsHandling="merge"> Reply</a>
      </div>
      <div class="delete">
        <a [routerLink]="['/thread-delete']" [queryParams]="{threadId: this.threadItemId}" skipLocationChange="true" true queryParamsHandling="merge">Delete</a>
      </div>
    </div>
  </footer>
</div>
