.forum_thread_footer {
  background-color: #dedede;
}

.footer_back_to_top_link {
  text-align: left;
  padding: 0 0 0 5px;
  margin: 15px 0 0 20px;
  display: inline;
  float: left;
}

.action_links {
  text-align: right;
  padding: 0 5px 0 0;
  margin: 0 20px 0 0;
}

.edit_reply {
}

.delete {
}
