<div id="layoutContainer" ng-controller="layoutController as ctrl"
     layout="row" style="height:100px;" ng-cloak layout-wrap>
  <div flex="30" class="green box">
    <app-user-info></app-user-info>
    <app-micro-post-form></app-micro-post-form>
  </div>

  <div flex="45" class="blue box">
    <app-micro-post-feed></app-micro-post-feed>
  </div>

  <div flex="25" class="green box">
    <app-mariners-rss-feed></app-mariners-rss-feed>
  </div>

  <div flex="33" class="green box">
Latest forum posts
  </div>

  <div flex="66" class="blue box">
    blog
  </div>
</div>
