<h1 style="text-align: center">About Us</h1>
<p>
  This is my Website, built with <a href="https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-1"> .NET Core 3.1 and Entity Framework, with an Angular 11 frontend.</a>.
  This Website is based on the <a href="http://JCarrollOnline.com">JCarrollOnline</a> by John Carroll, originally written in Ruby on Rails,
  then ported to ASP.NET MVC 5.

<p></p>
<p></p>
<div style="text-align: left">Mentatware&trade; is a trademark of Mentatware LLC</div>
<div style="text-align: left">JCarrollOnline&trade; is a trademark of Mentatware LLC</div>
<div style="text-align: left">JCarrollOnlineV2&trade; is a trademark of Mentatware LLC</div>
<div style="text-align: left">JCarrollOnlineV3&trade; is a trademark of Mentatware LLC</div>

