<h1 class="text-center">{{forumTitle}}</h1>

<mat-table class="forumThreads" [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let forumThreadEntry"><a class="nav-link" [routerLink]="['/thread']" [queryParams]="{rootId: forumThreadEntry.id, forumTitle: this.forumTitle}">{{ forumThreadEntry.title }}</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="replies">
    <mat-header-cell *matHeaderCellDef>Replies</mat-header-cell>
    <mat-cell class="replies-cell"
              *matCellDef="let forumThreadEntry">{{forumThreadEntry.replies}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
    <mat-cell class="author-cell"
              *matCellDef="let forumThreadEntry">{{forumThreadEntry.author}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>Posted</mat-header-cell>
    <mat-cell class="posted-cell"
              *matCellDef="let forumThreadEntry">{{forumThreadEntry.createdAt}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastReply">
    <mat-header-cell *matHeaderCellDef>Last Reply</mat-header-cell>
    <mat-cell class="lastReply-cell"
              *matCellDef="let forumThreadEntry">{{forumThreadEntry.lastReply}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="recs">
    <mat-header-cell *matHeaderCellDef>Recs</mat-header-cell>
    <mat-cell class="recs-cell"
              *matCellDef="let forumThreadEntry">{{forumThreadEntry.recs}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="views">
    <mat-header-cell *matHeaderCellDef>Views</mat-header-cell>
    <mat-cell class="views-cell"
              *matCellDef="let forumThreadEntry">{{forumThreadEntry.views}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<div class="col text-center">
  <a *ngIf="this.isAuthenticated == true" [routerLink]="['/thread-create']" [queryParams]="{forumId: passedForumId, threadParentId: 0}" skipLocationChange="true" true queryParamsHandling="merge" class="btn btn-large btn-primary text-center">
    <b>Create New Thread</b>
  </a>
</div>
