<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="this.onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home" class="navigationItem">JCarrollOnline</a>
  </div>
  <div>
    <a routerLink="/users" class="navigationItem">Users</a>
  </div>
  <div>
    <a routerLink="/fora" class="navigationItem">Fora</a>
  </div>
  <div>
    <a routerLink="/profile" class="navigationItem">Profile</a>
  </div>
  <div>
    <a routerLink="/about" class="navigationItem">About</a>
  </div>
  <div>
    <a routerLink="/contact" class="navigationItem">Contact</a>
  </div>
  <div>
    <a routerLink="/sandbox" class="navigationItem">Sandbox</a>
  </div>
  <div>
    <a routerLink="/yellowstone-slideshow" class="navigationItem">Yellowstone Slideshow</a>
  </div>
  <div>
    <a routerLink="/blog" class="navigationItem">Blog</a>
  </div>
  <div *ngIf="this.isAuthenticated | async" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
      </li>
      <li>
        <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!(this.isAuthenticated | async)" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a [routerLink]='["/authentication/register"]'>Register</a>
      </li>
      <li>
        <a [routerLink]='["/authentication/login"]'>Login</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
