<mat-card class="gravatar-card" id="matcard">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div fxFlexAlign="left">
      <div fxFlex="100%">
        <img mat-card-avatar ngxGravatar [email]="(email | async)" id="matcardimg"> {{ userName | async }}
      </div>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div fxFlexAlign="left">
      <div fxFlex="100%">
        <span style="width: 100%">This is where the user stats go</span>
      </div>
    </div>
  </div>
</mat-card>
