<div class="forum_thread_header">
  <header>
    <div class="user_info">
      {{this.author | async}}
      <div class="post_count">
        {{this.postCount | async}} Posts: {{this.postNumber | async}}
      </div>
    </div>
    <div class="header_title">
      <h3>{{this.title | async}}</h3>
    </div>
    <div class="threadinfo">
      <div class="reply_to">
        <div class="original_post" ngif="this.parent === undefined | async">
          Original Post
        </div>
        <div class="response_to" ngif="this.parent !== undefined | async">
          I think I have a parent
          Response to {{parentPostNumber | async}}
        </div>
        <div class="created_at">
          {{this.createdAt | async}}
        </div>
      </div>
    </div>
  </header>
</div>
