<mat-toolbar color="primary">
  <div fxHide.gt-md>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/home" class="navigationItem">JCarrollOnline</a>
  <div fxShow="true" fxHide.lt-lg="true">
    <a routerLink="/users" class="navigationItem" fxHide.xs>Users</a>
    <a routerLink="/fora" class="navigationItem" fxHide.xs>Fora</a>
    <a routerLink="/profile" class="navigationItem" fxHide.xs>Profile</a>
    <a routerLink="/about" class="navigationItem" fxHide.xs>About</a>
    <a routerLink="/contact" class="navigationItem" fxHide.xs>Contact</a>
    <a routerLink="/sandbox" class="navigationItem" fxHide.xs>Sandbox</a>
    <a routerLink="/yellowstone-slideshow" class="navigationItem" fxHide.xs>Yellowstone Slideshow</a>
    <a routerLink="/blog" class="navigationItem" fxHide.xs>Blog</a>
  </div>
  <div *ngIf="this.isAuthenticated" fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-lg="true">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
      </li>
      <li>
        <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!(this.isAuthenticated)" fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-lg="true">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a [routerLink]='["/authentication/register"]'>Register</a>
      </li>
      <li>
        <a [routerLink]='["/authentication/login"]'>Login</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
